{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <a class="{{ class }}" href="{{ routes.account_url }}">
      <span class="visually-hidden">{{ 'layout.customer.account' | t }}</span>
      {% render 'icon-account' %}
    </a>
  {% else %}
    <a class="{{ class }}" href="{{ routes.account_login_url }}">
      <span class="visually-hidden">{{ 'layout.customer.account' | t }}</span>
      {% render 'icon-account' %}
    </a>
  {% endif %}
{% endif %}
