{%- assign current_variant = product.selected_or_first_available_variant -%}
{% assign sku_parts = current_variant.sku | split: ' ' %}
{% assign variant_colors = '' %}
{% assign is_variant_image = false %}
{% assign values = '' %}
{%- assign count = collectionid -%}
<div class="featured-product {% unless product.available%}sold-out{% endunless %}">
  <div class="featured-product__holder">
    {% if quickview %}

      {%- capture label_by_tag -%}
        {%- assign product_tags = product.tags | reverse -%}
        {%- for tag in product_tags -%}
          {%- if tag contains 'pfs:label-' -%}
            {%- assign t = tag | split: 'pfs:label-' -%}
            <span class="tag {{ t | handleize }}">{{- t -}}</span>
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endcapture -%}

      {% unless product.available %}
        <div class="product-label">
          <span class="soldout">Sold Out</span>
        </div>
      {% elsif label_by_tag != '' %}
        <div class="product-label">
          {{ label_by_tag }}
        </div>
      {% endunless %}
    {% endif %}

    <div class="featured-product__gallery">
      <div class="featured-product__gallery-wrap">
        {% assign option_index = 0 %}
        {%- for variant in product.variants -%}
        
          {%- for option in product.options -%}
            {%- if option == 'color' or  option == 'Color' -%}
              {% assign option_index = forloop.index0 %}
              
            {%- endif -%}
          {%- endfor -%}
          
          {% assign value = variant.options[option_index] %}
          
          {% if value != blank %}
          
            {% unless values contains value %}
           
              {% assign values = values | join: ',' | append: ',' | append: value | split: ',' %}   
              
              {% if variant.image.src != blank %}
                <div data-value="{{ variant.id | escape }}" data-href="{{ product.url | within: collection }}" class="featured-product__image {% unless forloop.first %} hide{% endunless %}">
                  {% assign is_variant_image = true %}
                  <a href="{{ product.url | within: collection }}" class="js-featured-product__link">
                    {% render 'image-small', image: variant.image, width: 370, classes: "featured-product__img" %}
                  </a>
                </div>
              {% else %}
                <div data-value="{{ variant.id | escape }}" data-href="{{ product.url | within: collection }}" class="featured-product__image {% unless forloop.first %} hide{% endunless %}">
                  {% assign is_variant_image = true %}
                  <a href="{{ product.url | within: collection }}" class="js-featured-product__link">
                    {% render 'image-small', image: product.images[0], width: 370, classes: "featured-product__img" %}
                  </a>
                </div>
              {% endif %}

            {% endunless %}
          {% endif %}
        {%- endfor -%}

        {% if is_variant_image == false %}
          <div class="featured-product__image">
            <a href="{{ product.url | within: collection }}">
              {% render 'image', image: product.featured_image, width: 370 %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="featured-product__frame {% if product.title contains settings.variant_separator %}swatch-active{% endif %}">


      <div class="featured-product__wrap">

      {% assign is_color = false %}
      {% for option in product.options %}
        {% if option contains 'color' or option contains 'colour' or option contains 'Color' %}
          {% assign is_color = true %}
        {% endif %}
      {% endfor %}

        <h4 class="featured-product__title">
          <a href="{{ product.url | within: collection }}" class="js-featured-product__link">{%- render 'product-title', product:product -%}</a>
          {% render 'product-color', product:product, current_variant: current_variant, title_swatch: title_swatch, swatch_limit: true, collectionid:count, is_color:is_color %}
        </h4>
        <div class="featured-product__price-box">
          {% assign price_values = '' %}
          {% for variant in product.variants %}
            {% for option in product.options %}
            {% if option == 'color' or  option == 'Color' %}
              {% assign option_index = forloop.index0 %}
            {% endif %}
            {% endfor %}
      
            {% assign value = variant.options[option_index] %}
      
            {% unless price_values contains value %}
            {% assign price_values = price_values | join: ',' | append: ',' | append: value | split: ',' %}
            <div data-variant-quantity="{{ variant.id }}" class="product-price featured-product__price js-featured-product__price {% unless forloop.first %} hide{% endunless %}" data-price-wrapper>
          
              <p class="boost-pfs-filter-product-item-price">
                {%- if variant.compare_at_price > variant.price -%}
                  <s>{{ variant.compare_at_price | money }}</s> 
                  <span class="boost-pfs-filter-product-item-sale-price">{{ variant.price | money }}</span>
                  
                {% else %}
                  <span class="boost-pfs-filter-product-item-regular-price">{{- product.price_min | money -}}</span>
                {%- endif -%}
              </p>		
            </div>
            {% endunless %}
          {% endfor %}
          
          {% render 'product-sizes-count', product:product, current_variant: current_variant, title_swatch: title_swatch, swatch_limit: true, collectionid:count, is_color:is_color %}
					
          <div class="featured-product__reviews">
            {% render 'yotpo-reviews-product-rating-summary', product: product %}
          </div>
        </div>
      </div>
      
      {% if product.variants.size > 0 and is_color == true %}
        {% unless product.has_only_default_variant %}
          <div class="swatch-wrapper featured-product__wrapper">
            {% render 'product-cart-swatch', swatch: 'Color', product: product, current_variant: current_variant, title_swatch: title_swatch, swatch_limit: true, collectionid:count %}
          </div>
        {% endunless %}
      {% endif %}
      

    </div>
  </div>
</div>

