<div class="visually-hidden">
  <svg width="0" height="0">
    <defs>
      <clipPath id="squareImageSvgMask" clipPathUnits="objectBoundingBox" transform="scale(0.0038, 0.0038)">
        <rect width="260" height="260" rx="32" fill="#C4C4C4" />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="squareBlogImageSvgMask">
        <rect width="352" height="352" rx="32" fill="#C4C4C4" />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0" >
    <defs>
      <clipPath id="flowerImageSvgMask" clipPathUnits="objectBoundingBox" transform="scale(0.0033, 0.0033)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M295 147.501C295 137.066 290.664 127.137 282.847 118.142C271.734 105.354 265.148 89.4469 263.963 72.5483C263.128 60.6601 259.175 50.5778 251.798 43.2005C244.421 35.8247 234.338 31.87 222.452 31.0374C205.553 29.8507 189.646 23.2639 176.858 12.1534C167.863 4.3346 157.934 0 147.499 0C137.064 0 127.136 4.3346 118.14 12.1534C105.353 23.2639 89.4453 29.8523 72.5467 31.0374C60.6617 31.87 50.5778 35.8263 43.2005 43.2021C35.8247 50.5795 31.87 60.6617 31.0374 72.5483C29.8523 89.4469 23.2639 105.354 12.1534 118.14C4.3346 127.136 0 137.066 0 147.501C0 157.934 4.3346 167.863 12.1534 176.858C23.2639 189.645 29.8523 205.553 31.0374 222.452C31.87 234.338 35.8247 244.421 43.2005 251.798C50.5778 259.174 60.6617 263.128 72.5467 263.963C89.4453 265.148 105.354 271.736 118.14 282.847C127.136 290.665 137.064 294.998 147.499 294.998C157.934 294.998 167.863 290.665 176.858 282.847C189.646 271.736 205.553 265.148 222.452 263.963C234.338 263.13 244.421 259.175 251.798 251.8C259.174 244.422 263.128 234.338 263.963 222.452C265.148 205.555 271.734 189.645 282.847 176.86C290.664 167.864 295 157.936 295 147.501Z" fill="#C4C4C4"/>

      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="cloverImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M219.634 123.625C236.396 111.117 247.251 91.1303 247.251 68.6066C247.251 30.7166 216.534 0 178.643 0C156.121 0 136.134 10.8534 123.625 27.6156C111.117 10.8534 91.1303 0 68.6065 0C30.7165 0 0 30.7166 0 68.6066C0 91.1303 10.8546 111.117 27.6168 123.625C10.8546 136.134 0 156.119 0 178.644C0 216.533 30.7165 247.25 68.6065 247.25C91.1303 247.25 111.117 236.396 123.625 219.634C136.134 236.396 156.121 247.25 178.643 247.25C216.534 247.25 247.251 216.533 247.251 178.644C247.251 156.119 236.396 136.134 219.634 123.625Z"
          fill="black"
        />
      </clipPath>
    </defs>
  </svg>

  {% comment %}
  <svg width="0" height="0">
    <defs>
      <clipPath id="cloverBigImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M312.683 176.001C336.547 158.193 352 129.739 352 97.6725C352 43.73 308.27 0 254.326 0C222.262 0 193.807 15.4516 176 39.3152C158.193 15.4516 129.738 0 97.672 0C43.7298 0 0 43.73 0 97.6725C0 129.739 15.4532 158.193 39.3168 176.001C15.4532 193.808 0 222.261 0 254.329C0 308.27 43.7298 352 97.672 352C129.738 352 158.193 336.548 176 312.685C193.807 336.548 222.262 352 254.326 352C308.27 352 352 308.27 352 254.329C352 222.261 336.547 193.808 312.683 176.001Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>
  {% endcomment %}
  <svg width="0" height="0">
    <clipPath id="cloverBigImageSvgMask" clipPathUnits="objectBoundingBox"><path d="M0.888,0.5 C0.956,0.449,1,0.369,1,0.277 C1,0.124,0.876,0,0.723,0 C0.631,0,0.551,0.044,0.5,0.112 C0.449,0.044,0.369,0,0.277,0 C0.124,0,0,0.124,0,0.277 C0,0.369,0.044,0.449,0.112,0.5 C0.044,0.551,0,0.631,0,0.723 C0,0.876,0.124,1,0.277,1 C0.369,1,0.449,0.956,0.5,0.888 C0.551,0.956,0.631,1,0.723,1 C0.876,1,1,0.876,1,0.723 C1,0.631,0.956,0.551,0.888,0.5"></path></clipPath>
  </svg>

  <svg width="0" height="0" class="svg-test">
    <defs>
      <clipPath id="cloudImageSvgMask" clipPathUnits="objectBoundingBox">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M237.797 168.5C250.042 159.545 258 145.095 258 128.782C258 128.742 257.998 128.704 257.998 128.665C257.998 128.198 257.989 127.729 257.977 127.259C257.977 127.257 257.977 127.256 257.977 127.254C257.973 127.15 257.974 127.047 257.971 126.943C257.963 126.715 257.942 126.491 257.932 126.263C257.916 125.965 257.9 125.667 257.879 125.368C256.892 110.48 249.174 97.3381 237.753 88.9674C250.449 79.7045 258.549 64.537 257.971 47.5065C257.099 21.8066 236.156 0.899586 210.413 0.0289596C193.334 -0.548521 178.127 7.55623 168.851 20.2544C159.886 7.98153 145.38 0.000125643 129 0.000125643C112.621 0.000125643 98.1141 7.98153 89.15 20.2544C79.8738 7.55623 64.6662 -0.548521 47.5869 0.0289596C21.8442 0.899586 0.901786 21.8066 0.0296851 47.5065C-0.548774 64.537 7.55206 79.7045 20.2477 88.9674C8.82771 97.3373 1.11038 110.478 0.12195 125.366C0.10109 125.666 0.0842416 125.967 0.0689979 126.267C0.0585679 126.494 0.0369058 126.717 0.0296851 126.943C0.0264759 127.047 0.0264759 127.149 0.024069 127.253C0.024069 127.259 0.024069 127.265 0.0232667 127.271C0.0112322 127.736 0.0024069 128.201 0.0024069 128.663C0.0024069 128.703 0 128.741 0 128.782C0 145.095 7.95882 159.545 20.2027 168.5C7.95882 177.455 0 191.905 0 208.218C0 208.259 0.0024069 208.298 0.0024069 208.339C0.0024069 208.793 0.0112322 209.247 0.0232667 209.701C0.0232667 209.718 0.0232667 209.734 0.024069 209.751C0.0264759 209.854 0.0264759 209.956 0.0296851 210.059C0.0369058 210.284 0.0585679 210.506 0.0689979 210.731C0.0842416 211.034 0.10109 211.336 0.12195 211.638C1.11119 226.524 8.82852 239.663 20.2477 248.033C7.55125 257.296 -0.549576 272.465 0.0296851 289.495C0.902588 315.195 21.845 336.101 47.5885 336.971C64.6662 337.548 79.8738 329.444 89.15 316.745C98.1141 329.018 112.621 337 129 337C145.38 337 159.886 329.018 168.851 316.745C178.127 329.444 193.334 337.549 210.413 336.971C236.156 336.1 257.099 315.193 257.971 289.493C258.549 272.463 250.449 257.295 237.752 248.033C249.171 239.664 256.889 226.526 257.878 211.64C257.9 211.336 257.916 211.031 257.932 210.725C257.942 210.501 257.963 210.281 257.971 210.057C257.974 209.955 257.973 209.854 257.977 209.752C257.977 209.731 257.977 209.71 257.977 209.689C257.989 209.238 257.998 208.789 257.998 208.34C257.998 208.299 258 208.259 258 208.218C258 191.905 250.042 177.455 237.797 168.5Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <svg>
    <defs>
      <clipPath id="cloudBigImageSvgMask" clipPathUnits="objectBoundingBox">
        <path
          d="M0.922,0.5 C0.969,0.473,1,0.431,1,0.382 C1,0.382,1,0.382,1,0.382 C1,0.38,1,0.379,1,0.378 C1,0.378,1,0.378,1,0.378 C1,0.377,1,0.377,1,0.377 C1,0.376,1,0.375,1,0.375 C1,0.374,1,0.373,1,0.372 C0.996,0.328,0.966,0.289,0.922,0.264 C0.971,0.237,1,0.192,1,0.141 C0.997,0.065,0.915,0.003,0.816,0 C0.749,-0.002,0.69,0.022,0.654,0.06 C0.62,0.024,0.563,0,0.5,0 C0.437,0,0.38,0.024,0.346,0.06 C0.31,0.022,0.251,-0.002,0.184,0 C0.085,0.003,0.003,0.065,0,0.141 C-0.002,0.192,0.029,0.237,0.078,0.264 C0.034,0.289,0.004,0.328,0,0.372 C0,0.373,0,0.374,0,0.375 C0,0.375,0,0.376,0,0.377 C0,0.377,0,0.377,0,0.378 C0,0.378,0,0.378,0,0.378 C0,0.379,0,0.38,0,0.382 C0,0.382,0,0.382,0,0.382 C0,0.431,0.031,0.473,0.078,0.5 C0.031,0.527,0,0.569,0,0.618 C0,0.618,0,0.618,0,0.618 C0,0.62,0,0.621,0,0.622 C0,0.622,0,0.622,0,0.622 C0,0.623,0,0.623,0,0.623 C0,0.624,0,0.625,0,0.625 C0,0.626,0,0.627,0,0.628 C0.004,0.672,0.034,0.711,0.078,0.736 C0.029,0.763,-0.002,0.809,0,0.859 C0.003,0.935,0.085,0.997,0.184,1 C0.251,1,0.31,0.978,0.346,0.94 C0.38,0.976,0.437,1,0.5,1 C0.563,1,0.62,0.976,0.654,0.94 C0.69,0.978,0.749,1,0.816,1 C0.915,0.997,0.997,0.935,1,0.859 C1,0.808,0.971,0.763,0.922,0.736 C0.966,0.711,0.996,0.672,1,0.628 C1,0.627,1,0.626,1,0.625 C1,0.625,1,0.624,1,0.623 C1,0.623,1,0.623,1,0.622 C1,0.622,1,0.622,1,0.622 C1,0.621,1,0.62,1,0.618 C1,0.618,1,0.618,1,0.618 C1,0.569,0.969,0.527,0.922,0.5"
        />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="circleImageSvgMask" clipPathUnits="objectBoundingBox" transform="scale(0.0033, 0.0033)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M295 147.499C295 228.962 228.962 295 147.5 295C66.0378 295 0 228.962 0 147.499C0 66.0382 66.0378 0 147.5 0C228.962 0 295 66.0382 295 147.499Z" fill="#C4C4C4"/>
      </clipPath>
    </defs>
  </svg>


  {% comment %}

  <svg width="0" height="0">
    <defs>
      <clipPath id="vaseImageSvgMask">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M280.061 158.768C271.103 148.143 271.103 133.857 280.061 123.232C289.628 111.884 295 99.1281 295 85.6421C295 38.3435 228.961 0 147.5 0C66.0378 0 0 38.3435 0 85.6421C0 99.1281 5.37068 111.884 14.9379 123.232C23.896 133.857 23.896 148.143 14.9379 158.768C5.37068 170.117 0 182.872 0 196.358C0 243.657 66.0378 282 147.5 282C228.961 282 295 243.657 295 196.358C295 182.872 289.628 170.117 280.061 158.768Z" fill="#C4C4C4"/>

      </clipPath>
    </defs>
  </svg>
  {% endcomment %}
  <svg class="svg">
    <clipPath id="vaseImageSvgMask" clipPathUnits="objectBoundingBox"><path d="M0.949,0.563 C0.919,0.525,0.919,0.475,0.949,0.437 C0.982,0.397,1,0.352,1,0.304 C1,0.136,0.776,0,0.5,0 C0.224,0,0,0.136,0,0.304 C0,0.352,0.018,0.397,0.051,0.437 C0.081,0.475,0.081,0.525,0.051,0.563 C0.018,0.603,0,0.648,0,0.696 C0,0.864,0.224,1,0.5,1 C0.776,1,1,0.864,1,0.696 C1,0.648,0.982,0.603,0.949,0.563"></path></clipPath>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="test_mask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M433.859 345.688C419.983 322.553 419.983 291.447 433.859 268.312C448.678 243.605 457 215.831 457 186.467C457 83.4834 354.698 0 228.501 0C102.302 0 0 83.4834 0 186.467C0 215.831 8.32152 243.605 23.1413 268.312C37.0184 291.447 37.0184 322.553 23.1413 345.688C8.32152 370.395 0 398.168 0 427.532C0 530.515 102.302 614 228.501 614C354.698 614 457 530.515 457 427.532C457 398.168 448.678 370.395 433.859 345.688Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="small_test_mask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M266.665 212.818C258.164 198.575 258.164 179.425 266.665 165.182C275.745 149.972 280.844 132.873 280.844 114.795C280.844 51.3953 218.164 0 140.844 0C63.5236 0 0.84375 51.3953 0.84375 114.795C0.84375 132.873 5.94227 149.972 15.0223 165.182C23.5246 179.425 23.5246 198.575 15.0223 212.818C5.94227 228.028 0.84375 245.126 0.84375 263.204C0.84375 326.604 63.5236 378 140.844 378C218.164 378 280.844 326.604 280.844 263.204C280.844 245.126 275.745 228.028 266.665 212.818Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="arcImageSvgMask">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M267.235 198H29.7646C13.8779 198 1 185.162 1 169.327V148.031C1 66.8276 67.0377 1 148.5 1C229.962 1 296 66.8276 296 148.031V169.327C296 185.162 283.122 198 267.235 198Z" fill="black" stroke="#F6F4EE" stroke-linejoin="round"/>

      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="arcBlogImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M337.971 189.171C327.161 176.511 327.161 159.489 337.971 146.829C349.517 133.309 356 118.11 356 102.042C356 45.6859 276.305 0 178 0C79.693 0 0 45.6859 0 102.042C0 118.11 6.48123 133.309 18.0268 146.829C28.8372 159.489 28.8372 176.511 18.0268 189.171C6.48123 202.693 0 217.89 0 233.958C0 290.314 79.693 336 178 336C276.305 336 356 290.314 356 233.958C356 217.89 349.517 202.693 337.971 189.171Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <!-- MASK for BLOG start -->

  <svg width="0" height="0">
    <defs>
      <clipPath id="clever-mask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M312.683 176.001C336.547 158.193 352 129.739 352 97.6725C352 43.73 308.27 0 254.326 0C222.262 0 193.807 15.4516 176 39.3152C158.193 15.4516 129.738 0 97.672 0C43.7298 0 0 43.73 0 97.6725C0 129.739 15.4532 158.193 39.3168 176.001C15.4532 193.808 0 222.261 0 254.329C0 308.27 43.7298 352 97.672 352C129.738 352 158.193 336.548 176 312.685C193.807 336.548 222.262 352 254.326 352C308.27 352 352 308.27 352 254.329C352 222.261 336.547 193.808 312.683 176.001Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="rounded-mask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M352 175.999C352 273.202 273.202 352 176 352C78.7977 352 0 273.202 0 175.999C0 78.7981 78.7977 0 176 0C273.202 0 352 78.7981 352 175.999Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="square-mask">
        <rect width="352" height="352" fill="#C4C4C4" />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0" >
    <defs>
      <clipPath id="flover-mask" clipPathUnits="objectBoundingBox" transform="scale(0.0028, 0.0028)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M352 176.002C352 163.551 346.826 151.704 337.498 140.97C324.239 125.712 316.38 106.731 314.966 86.5666C313.97 72.3813 309.253 60.3508 300.45 51.548C291.648 42.747 279.617 38.0282 265.434 37.0347C245.27 35.6186 226.289 27.7591 211.031 14.5017C200.297 5.17216 188.45 0 175.999 0C163.548 0 151.701 5.17216 140.967 14.5017C125.709 27.7591 106.728 35.6206 86.5642 37.0347C72.3828 38.0282 60.3505 42.7489 51.5477 51.5499C42.7468 60.3528 38.028 72.3832 37.0345 86.5666C35.6204 106.731 27.759 125.712 14.5016 140.968C5.17213 151.702 0 163.551 0 176.002C0 188.451 5.17213 200.298 14.5016 211.032C27.759 226.29 35.6204 245.271 37.0345 265.435C38.028 279.619 42.7468 291.649 51.5477 300.452C60.3505 309.253 72.3828 313.972 86.5642 314.967C106.728 316.381 125.711 324.243 140.967 337.5C151.701 346.83 163.548 352 175.999 352C188.45 352 200.297 346.83 211.031 337.5C226.289 324.243 245.27 316.381 265.434 314.967C279.617 313.974 291.648 309.255 300.45 300.454C309.251 291.651 313.97 279.619 314.966 265.435C316.38 245.273 324.239 226.29 337.498 211.034C346.826 200.3 352 188.453 352 176.002Z"
          fill="#C4C4C4"
        />
      </clipPath>
    </defs>
  </svg>

  <svg width="0" height="0">
    <defs>
      <clipPath id="rounded-square-mask">
        <rect width="352" height="352" rx="80" fill="#C4C4C4" />
      </clipPath>
    </defs>
  </svg>

  <svg width="356" height="336" viewBox="0 0 356 336" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <clipPath id="vaseBlogImageSvgMask">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M337.971 189.171C327.161 176.511 327.161 159.489 337.971 146.829C349.517 133.309 356 118.11 356 102.042C356 45.6859 276.305 0 178 0C79.693 0 0 45.6859 0 102.042C0 118.11 6.48123 133.309 18.0268 146.829C28.8372 159.489 28.8372 176.511 18.0268 189.171C6.48123 202.693 0 217.89 0 233.958C0 290.314 79.693 336 178 336C276.305 336 356 290.314 356 233.958C356 217.89 349.517 202.693 337.971 189.171Z" fill="#C4C4C4"/>
    </clipPath>
  </svg>


  <!-- MASK for BLOG end -->
  <svg
    width="0"
    height="0"
    viewBox="0 0 702 471"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <clipPath id="arcAboutImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M632.745 469.526H69.2549C31.5577 469.526 1 438.994 1 401.333V350.683C1 157.558 157.7 1 351 1C544.3 1 701 157.558 701 350.683V401.333C701 438.994 670.442 469.526 632.745 469.526Z"
          stroke="black"
          stroke-linejoin="round"
        />
      </clipPath>
    </defs>
  </svg>

  <svg
    width="0"
    height="0"
    viewBox="0 0 702 702"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <clipPath id="flowerAboutImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M701 351.004C701 326.243 690.711 302.684 672.162 281.338C645.794 250.995 630.164 213.248 627.352 173.15C625.372 144.94 615.992 121.016 598.487 103.51C580.981 86.0082 557.057 76.6242 528.851 74.6485C488.753 71.8325 451.006 56.2028 420.664 29.8386C399.318 11.2855 375.758 1 350.998 1C326.238 1 302.678 11.2855 281.332 29.8386C250.99 56.2028 213.243 71.8363 173.145 74.6485C144.943 76.6242 121.015 86.0121 103.51 103.514C86.0078 121.02 76.6238 144.944 74.6481 173.15C71.836 213.248 56.2025 250.995 29.8385 281.334C11.2855 302.68 1 326.243 1 351.004C1 375.761 11.2855 399.32 29.8385 420.666C56.2025 451.009 71.836 488.756 74.6481 528.854C76.6238 557.06 86.0078 580.984 103.51 598.49C121.015 615.992 144.943 625.376 173.145 627.355C213.243 630.168 250.994 645.801 281.332 672.165C302.678 690.718 326.238 701 350.998 701C375.758 701 399.318 690.718 420.664 672.165C451.006 645.801 488.753 630.168 528.851 627.355C557.057 625.38 580.981 615.996 598.487 598.494C615.988 580.988 625.372 557.06 627.352 528.854C630.164 488.76 645.794 451.009 672.162 420.67C690.711 399.324 701 375.764 701 351.004Z"
          stroke="black"
          stroke-linejoin="round"
        />
      </clipPath>
    </defs>
  </svg>

  <svg
    width="0"
    height="0"
    viewBox="0 0 702 702"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <clipPath id="cloudAboutImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M701 351C701 306.557 679.307 267.201 645.954 242.877C680.465 217.708 702.491 176.448 700.921 130.113C698.555 60.2676 641.736 3.44445 571.887 1.07876C525.551 -0.4912 484.291 21.5348 459.122 56.0488C434.798 22.6925 395.441 1.00348 350.998 1.00348C306.559 1.00348 267.202 22.6925 242.879 56.0488C217.713 21.5348 176.449 -0.4912 130.114 1.07876C60.2646 3.44445 3.44838 60.2676 1.07909 130.113C-0.49087 176.448 21.5352 217.708 56.0494 242.877C22.693 267.201 1.00024 306.557 1.00024 351C1.00024 395.439 22.693 434.796 56.0494 459.119C21.5352 484.289 -0.494455 525.552 1.07909 571.891C3.44838 641.736 60.2682 698.552 130.114 700.918C176.453 702.487 217.713 680.461 242.879 645.948C267.202 679.304 306.559 701 350.998 701C395.441 701 434.798 679.304 459.122 645.951C484.291 680.462 525.551 702.491 571.887 700.918C641.736 698.552 698.552 641.732 700.921 571.887C702.491 525.548 680.465 484.289 645.954 459.119C679.307 434.796 701 395.439 701 351Z"
          stroke="black"
          stroke-linejoin="round"
        />
      </clipPath>
    </defs>
  </svg>

  <svg
    width="0"
    height="0"
    viewBox="0 0 700 700"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <clipPath id="circleAboutImageSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M700 349.998C700 543.299 543.3 700 350 700C156.7 700 0 543.299 0 349.998C0 156.701 156.7 0 350 0C543.3 0 700 156.701 700 349.998Z"
          fill="black"
        />
      </clipPath>
    </defs>
  </svg>
  <svg
    width="0"
    height="0"
    viewBox="0 0 702 667"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <clipPath id="vaseAboutSvgMask">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M665.551 375.277C644.294 350.229 644.294 316.551 665.551 291.503C688.253 264.753 701 234.682 701 202.891C701 91.39 544.297 1 351 1C157.7 1 1 91.39 1 202.891C1 234.682 13.744 264.753 36.446 291.503C57.7023 316.551 57.7023 350.229 36.446 375.277C13.744 402.03 1 432.098 1 463.889C1 575.39 157.7 665.78 351 665.78C544.297 665.78 701 575.39 701 463.889C701 432.098 688.253 402.03 665.551 375.277Z"
          stroke="black"
          stroke-linejoin="round"
        />
      </clipPath>
    </defs>
  </svg>
</div>

<style>
  [class*="text-svg-mask"] {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Wulkan Display", Helvetica, Arial, sans-serif;
    background-size: contain !important;
  }

  [class*="text-svg-mask"] span {
    overflow: hidden;
    max-height: 100%;
  }

  [class*="image-svg-mask"] {
    max-width: 1000%;
    object-fit: cover;
    display: block;
  }

  /* Style mask for blog  start*/
  .clever-image-svg-mask {
    width: 352px;
    height: 352px;
    clip-path: path("M312.683 176.001C336.547 158.193 352 129.739 352 97.6725C352 43.73 308.27 0 254.326 0C222.262 0 193.807 15.4516 176 39.3152C158.193 15.4516 129.738 0 97.672 0C43.7298 0 0 43.73 0 97.6725C0 129.739 15.4532 158.193 39.3168 176.001C15.4532 193.808 0 222.261 0 254.329C0 308.27 43.7298 352 97.672 352C129.738 352 158.193 336.548 176 312.685C193.807 336.548 222.262 352 254.326 352C308.27 352 352 308.27 352 254.329C352 222.261 336.547 193.808 312.683 176.001Z");
    -webkit-clip-path: path("M312.683 176.001C336.547 158.193 352 129.739 352 97.6725C352 43.73 308.27 0 254.326 0C222.262 0 193.807 15.4516 176 39.3152C158.193 15.4516 129.738 0 97.672 0C43.7298 0 0 43.73 0 97.6725C0 129.739 15.4532 158.193 39.3168 176.001C15.4532 193.808 0 222.261 0 254.329C0 308.27 43.7298 352 97.672 352C129.738 352 158.193 336.548 176 312.685C193.807 336.548 222.262 352 254.326 352C308.27 352 352 308.27 352 254.329C352 222.261 336.547 193.808 312.683 176.001Z");
  }

  .rounded-image-svg-mask {
    width: 352px;
    height: 352px;
    clip-path: path("M352 175.999C352 273.202 273.202 352 176 352C78.7977 352 0 273.202 0 175.999C0 78.7981 78.7977 0 176 0C273.202 0 352 78.7981 352 175.999Z");
    -webkit-clip-path: path("M352 175.999C352 273.202 273.202 352 176 352C78.7977 352 0 273.202 0 175.999C0 78.7981 78.7977 0 176 0C273.202 0 352 78.7981 352 175.999Z");
  }

  .square-blog-image-svg-mask {
    width: 352px;
    height: 352px;
    border-radius: 80px;
  }

  .flover-image-svg-mask {
    width: 352px;
    height: 352px;
    object-fit: cover;
    clip-path: url(#flover-mask);
    -webkit-clip-path: url(#flover-mask);
  }

  .rounded-square-image-svg-mask {
    width: 352px;
    height: 352px;
    border-radius: 80px;
  }

  .vase-blog-image-svg-mask {
    width: 356px;
    height: 356px;
    clip-path: path("M337.971 189.171C327.161 176.511 327.161 159.489 337.971 146.829C349.517 133.309 356 118.11 356 102.042C356 45.6859 276.305 0 178 0C79.693 0 0 45.6859 0 102.042C0 118.11 6.48123 133.309 18.0268 146.829C28.8372 159.489 28.8372 176.511 18.0268 189.171C6.48123 202.693 0 217.89 0 233.958C0 290.314 79.693 336 178 336C276.305 336 356 290.314 356 233.958C356 217.89 349.517 202.693 337.971 189.171Z");
    -webkit-clip-path: path("M337.971 189.171C327.161 176.511 327.161 159.489 337.971 146.829C349.517 133.309 356 118.11 356 102.042C356 45.6859 276.305 0 178 0C79.693 0 0 45.6859 0 102.042C0 118.11 6.48123 133.309 18.0268 146.829C28.8372 159.489 28.8372 176.511 18.0268 189.171C6.48123 202.693 0 217.89 0 233.958C0 290.314 79.693 336 178 336C276.305 336 356 290.314 356 233.958C356 217.89 349.517 202.693 337.971 189.171Z");
  }

  /* Style mask for blog  end*/

  .square-image-svg-mask {
    width: 260px;
    height: 260px;
    clip-path: url(#squareImageSvgMask);
    -webkit-clip-path: url(#squareImageSvgMask);
  }

  .test_mask {
    width: 457px;
    height: 614px;
    clip-path: url(#cloudBigImageSvgMask);
    -webkit-clip-path: url(#cloudBigImageSvgMask);
  }

  @media (max-width: 576px) {
    .test_mask {
      max-width: 280px;
      height: 378px;
      clip-path: url(#small_test_mask);
      -webkit-clip-path: url(#small_test_mask);
    }
  }

  .arc-blog-svg-mask {
    width: 356px;
    height: 336px;
    clip-path: url(#arcBlogImageSvgMask);
    -webkit-clip-path: url(#arcBlogImageSvgMask);
  }

  .arc-about-svg-mask {
    width: 702px;
    height: 471px;
    clip-path: url(#arcAboutImageSvgMask);
    -webkit-clip-path: url(#arcAboutImageSvgMask);
  }

  .square-blog-image-svg-mask {
    width: 352px;
    height: 352px;
    border-radius: 80px;
  }

  .square-text-svg-mask {
    width: 156px;
    height: 156px;
    border: 1px solid black;
    border-radius: 23px;
    color: black;
    padding: 18px;
  }

  .square-text-svg-mask--black {
    color: #f6f4ee;
    background-color: black;
  }

  .square-text-svg-mask--white {
    color: #f6f4ee;
    border: 1px solid #f6f4ee;
  }

  .flower-image-svg-mask {
    width: 295px;
    height: 295px;
    clip-path: url(#flowerImageSvgMask);
    -webkit-clip-path: url(#flowerImageSvgMask);
  }
  .flower-about-svg-mask {
    width: 702px;
    height: 702px;
    clip-path: url(#flowerAboutImageSvgMask);
    -webkit-clip-path: url(#flowerAboutImageSvgMask);
  }

  .flower-text-svg-mask {
    width: 200px;
    height: 200px;
    background: url("{{ 'flower-text-svg-mask.svg' | asset_url  }}") no-repeat
      50%;
    background-size: contain;
    color: black;
    padding: 18px 25px;
  }

  .flower-text-svg-mask-big {
    width: 680px;
    height: 680px;
    background: url("{{ 'flower-text-svg-mask-big.svg' | asset_url  }}")
      no-repeat 50%;
    background-size: contain;
    color: black;
    padding: 18px 25px;
  }

  .flower-text-svg-mask--black {
    background: url("{{ 'flower-text-svg-mask--black.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .flower-text-svg-mask--white {
    background: url("{{ 'flower-text-svg-mask--white.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .clover-image-svg-mask {
    width: 247px;
    height: 247px;
    clip-path: url(#cloverImageSvgMask);
    -webkit-clip-path: url(#cloverImageSvgMask);
  }

  .clover-text-svg-mask {
    width: 463px;
    height: 463px;
    background: url("{{ 'clover-text-svg-mask.svg' | asset_url  }}") no-repeat
      50%;
    background-size: contain;
    color: black;
    padding: 18px 25px;
  }

  .clover-big-image-svg-mask {
    width: 352px;
    height: 352px;
    clip-path: url(#cloverBigImageSvgMask);
    -webkit-clip-path: url(#cloverBigImageSvgMask);
  }

  .cloud-bigest-image-svg-mask {
    width: 457px;
    height: 614px;
    clip-path: url(#cloudBigImageSvgMask);
    -webkit-clip-path: url(#cloudBigImageSvgMask);
  }

  .cloud-image-svg-mask {
    width: 258px;
    height: 337px;
    clip-path: url(#cloudBigImageSvgMask);
    -webkit-clip-path: url(#cloudBigImageSvgMask);
  }
  .cloud-about-svg-mask {
    width: 702px;
    height: 702px;
    clip-path: url(#cloudAboutImageSvgMask);
    -webkit-clip-path: url(#cloudAboutImageSvgMask);
  }

  .cloud-text-svg-mask {
    width: 160px;
    height: 160px;
    background: url("{{ 'cloud-text-svg-mask.svg' | asset_url  }}") no-repeat
      50%;
    background-size: contain;
    color: black;
  }
  .cloud-text-svg-mask-big {
    width: 680px;
    height: 680px;
    background: url("{{ 'cloud-text-svg-mask-big.svg' | asset_url  }}")
      no-repeat 50%;
    background-size: contain;
    color: black;
  }
  .cloud-text-svg-mask-big-long {
    width: 532px;
    height: 695px;
    background: url("{{ 'cloud-text-svg-mask-big-long.svg' | asset_url  }}")
      no-repeat 50%;
    background-size: contain;
    color: black;
  }

  .cloud-text-svg-mask--black {
    background: url("{{ 'cloud-text-svg-mask--black.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .cloud-text-svg-mask--white {
    background: url("{{ 'cloud-text-svg-mask--white.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .circle-text-svg-mask {
    width: 168px;
    height: 168px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100%;
    color: black;
  }
  .circle-text-svg-mask-big {
    width: 680px;
    height: 680px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100%;
    color: black;
  }

  .circle-text-svg-mask--black {
    background-color: black;
    color: #f6f4ee;
  }

  .circle-text-svg-mask--white {
    border-color: #f6f4ee;
    color: #f6f4ee;
  }

  .circle-image-svg-mask {
    width: 295px;
    height: auto;
    object-fit: cover;
    clip-path: url(#circleImageSvgMask);
    -webkit-clip-path: url(#circleImageSvgMask);
  }
  .circle-about-svg-mask {
    width: 700px;
    height: 700px;
    clip-path: url(#circleAboutImageSvgMask);
    -webkit-clip-path: url(#circleAboutImageSvgMask);
  }

  .vase-text-svg-mask {
    width: 159px;
    height: 151px;
    background: url("{{ 'vase-text-svg-mask.svg' | asset_url  }}") no-repeat 50%;
    background-size: contain !important;
    color: black;
    overflow: hidden;
    padding: 15px;
  }
  .vase-text-svg-mask-big {
    width: 680px;
    height: 680px;
    background: url("{{ 'vase-text-svg-mask-big.svg' | asset_url  }}") no-repeat
      50%;
    background-size: contain !important;
    color: black;
    overflow: hidden;
    padding: 15px;
  }

  .vase-text-svg-mask--black {
    background: url("{{ 'vase-text-svg-mask--black.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .vase-text-svg-mask--white {
    background: url("{{ 'vase-text-svg-mask--white-thin.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .vase-image-svg-mask {
    width: 295px;
    height: 282px;
    clip-path: url(#vaseImageSvgMask);
    -webkit-clip-path: url(#vaseImageSvgMask);
  }
  .vase-about-svg-mask {
    width: 700px;
    height: 665px;
    clip-path: url(#vaseAboutSvgMask);
    -webkit-clip-path: url(#vaseAboutSvgMask);
  }

  .arc-text-svg-mask {
    width: 300px;
    height: 200px;
    background: url("{{ 'arc-text-svg-mask.svg' | asset_url  }}") no-repeat 50%;
    background-size: contain;
    color: black;
    padding: 50px;
  }
  .arc-text-svg-mask-big {
    width: 678px;
    height: 477px;
    background: url("{{ 'arc-text-svg-mask-big.svg' | asset_url  }}") no-repeat
      50%;
    background-size: contain;
    color: black;
    padding: 120px 110px 40px 110px;
  }

  .arc-text-svg-mask--black {
    background: url("{{ 'arc-text-svg-mask--black.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .arc-text-svg-mask--white {
    background: url("{{ 'arc-text-svg-mask--white.svg' | asset_url  }}")
      no-repeat 50%;
    color: #f6f4ee;
  }

  .arc-image-svg-mask {
    width: 296px;
    height: 197px;
    clip-path: url(#arcImageSvgMask);
    -webkit-clip-path: url(#arcImageSvgMask);
  }

  .rectangle-image-svg-mask {
    width: 502px;
    height: 274px;
    max-width: 100%;
    border-radius: 24px;
    overflow: hidden;
  }

  .mini-rectangle-image-svg-mask {
    width: 504px;
    max-width: 100%;
    height: 140px;
    border-radius: 70px;
    overflow: hidden;
  }

  @media only screen and (max-width: 749px) {
    .rectangle-image-svg-mask {
      height: 180px;
    }

    .mini-rectangle-image-svg-mask {
      height: 88px;
    }
  }
</style>
