{% if section.settings.enabled %}
  <div class="about-family__indent">
    {% if section.settings.image != blank %}
    {% case section.settings.image_mask %}
      {% when 'rounded_square' %}
        {%- assign mask_class = 'square-about-svg-mask' -%}
      {% when 'vase' %}
        {%- assign mask_class = 'vase-about-svg-mask' -%}
      {% when 'arc' %}
        {%- assign mask_class = 'arc-about-svg-mask' -%}
      {% when 'circle' %}
        {%- assign mask_class = 'circle-about-svg-mask' -%}
      {% when 'cloud' %}
        {%- assign mask_class = 'cloud-about-svg-mask' -%}
      {% when 'flower' %}
        {%- assign mask_class = 'flower-about-svg-mask' -%}
      {% when 'none' %}
        {%- assign mask_class = 'none-image-svg-mask' -%}
    {% endcase %}
    <div class="about-family__left">
      <div class="about-family__image viewport-section info-block-{{ section.settings.image_mask }}">
        <div class="about-family__img-wrapper">
          {%- assign img_url =  section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="info-block__image img-1 lazyload {{ mask_class }}"
                     src="{{ section.settings.image | img_url: '50x50' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ section.settings.image.alt | escape }}">
        </div>
      </div>
    </div>
    {% endif %}
    <div class="about-family__right">
      {% if section.settings.title != blank %}
        <h3 class="about-family__title viewport-section">{{ section.settings.title }}</h3>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="about-family__content viewport-section">
          {{ section.settings.text }}
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  {% style %}
    .about-family {
      display: none;
    }
  {% endstyle %}
{% endif %}

{% schema %}
{
  "name": "About Family",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enabled",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_mask",
      "label": "Image mask",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "rounded_square",
          "label": "Rounded square"
        },
        {
          "value": "flower",
          "label": "Flower"
        },
        {
          "value": "cloud",
          "label": "Cloud"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "vase",
          "label": "Vase"
        },
        {
          "value": "arc",
          "label": "Arc"
        }
      ],
      "default": "rounded_square"
    }
  ]
}
{% endschema %}