<div class="login-page">
  <div class="without-pad">
    <div class="login-page__flex">
      {% if section.settings.image != blank %}
      <div class="login-page__flex-left">
        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div class="login-page__img">
            <img class="login-page__image lazyload"
            src="{{ section.settings.image | img_url: '50x50' }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ section.settings.image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ section.settings.image.alt | escape }}">
          </div>
      </div>
      {% endif %}
      <div class="login-page__flex-right">
        <div style="margin:0 auto;" class="pxFormGenerator" id="{{section.settings.id}}"></div>
      </div>
    </div>
  </div>
  {% if section.blocks.size > 0 %}
    <div class="login-page__info">
      <div class="login-page__info-flex">
        {% for block in section.blocks %}
        <div class="login-page__info-item">
          {% if block.settings.text != blank %}
          <h4>{{block.settings.text}}</h4>
          {% endif %}
          {% if block.settings.text_first != blank %}
            <span class="text-first">
              {% if block.settings.type_first == 'email' %}
                <a href="mailto:{{block.settings.text_first}}">{{block.settings.text_first}}</a>
              {% endif %}
              {% if block.settings.type_first == 'phone' %}
                <a href="tel:{{block.settings.text_first}}">{{block.settings.text_first}}</a>
                {% endif %}
              {% if block.settings.type_first == 'text' %}
                {{block.settings.text_first}}

              {% endif %}
            </span>
          {% endif %}
          {% if block.settings.text_second != blank %}
            <span class="text-second">

            {% if block.settings.type_second == 'email' %}
              <a href="mailto:{{block.settings.text_second}}">{{block.settings.text_second}}</a>
            {% endif %}
            {% if block.settings.type_second == 'phone' %}
              <a href="tel:{{block.settings.text_second}}">{{block.settings.text_second}}</a>
            {% endif %}
            {% if block.settings.type_second == 'text' %}
              {{block.settings.text_second}}
            {% endif %}
            </span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Contact Page",
  "class": "contact-page__section-wrap",
  "max_blocks": 3,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Background"
    },
    {
      "type": "text",
      "id": "id",
      "label": "Form Inditification"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Tile Info",
      "settings": [
        {
          "id": "text",
          "label": "Title",
          "type": "text"
        },
        {
          "id": "text_first",
          "label": "Text First",
          "type": "text"
        },
        {
          "type": "radio",
          "id": "type_first",
          "label": "Text Type",
          "options": [
            {
              "value": "email",
              "label": "E-Mail"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "text",
              "label": "Text"
            }
          ],
          "default": "text"
        },
        {
          "id": "text_second",
          "label": "Text Second",
          "type": "text"
        },
        {
          "type": "radio",
          "id": "type_second",
          "label": "Text Type",
          "options": [
            {
              "value": "email",
              "label": "E-Mail"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "text",
              "label": "Text"
            }
          ],
          "default": "text"
        }
      ]
    }
  ]
}
{% endschema %}
